body {
    background-color: #f5f7fa;
    font-family: "Poppins", Arial, sans-serif;
}

.main-container{
    width: 1300px;
    background-color: #fff;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.container{
    max-width: 1300px;
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    
}
.info {
    padding: 40px;
    line-height: 30px;
}
a {
    text-decoration: none;
    color:rgb(43, 47, 59);
}
section {
    padding: 40px 20px 10px 20px;
}
.menu {
    background-color: rgb(251, 214, 46);
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:rgb(43, 47, 59);
    font-weight: 600;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a:hover {
    color:rgb(255, 255, 255);
    text-decoration: underline;
}
h4{
    color: rgb(251, 214, 46);
}
.aside{
    background-color:rgb(43, 47, 59);
}
.item {
    color: rgb(251, 214, 46);
    padding-top: 20px;
}
.item_text{
    color: white;
}
.item a{
    color: white;
}
.contacts h4{
    padding-left: 30px;
}
.skills h4{
    padding-left: 30px;
}
.footer {
    background-color: rgb(251, 214, 46);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_course_link{
    text-align: center;
}
.logo_school {
    width: 210px;
}
